header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block
}

@font-face {
  font-family: raleway;
  src: url(Raleway-Light.ttf);
}

* {
  font-family: "raleway", Arial, Helvetica, sans-serif !important
}

body {
  background-color: #F9F2EB;
}

header nav {
  /* background-color: rgba(0, 0, 0, 0.2); */
  padding: 1rem;
  border-bottom: 1px solid #000 !important
}

@media screen and (min-width: 960px) {
  header nav {
    padding: 2rem;
  }
}

header .uk-navbar-left,
header .uk-navbar-right {
  /* padding: 0 16px; */
}

header nav a {
  color: #000 !important
}

header nav .mobile-menu a {
  color: unset !important
}

header h3 {
  color: #000 !important
}

header img {
  /* width: 75%; */
  border-radius: 15px 35%;
}

a,
a:hover {
  color: #cc5801 !important;
}

.showcase {
  /* background-image: url("https://bergstromwebdesigns.com/images/macPicNew.jpg"); */
}

#about p {
  font-size: 20px;
  line-height: 1.5
}

.work-block {
  display: block;
  border: 1px solid #000;
  color: #000 !important;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.work-block:hover {
  background-color: #cc5801;
  color: #fff !important;
  text-decoration: none;
}

.work-link {
  color: #fff !important;
}